{{!-- Home Page  --}}


<h1>OpenAI Research</h1>
 <div class="container-fluid d-flex align-items-center justify-content-center" style="min-height: 100vh;">
       <div class="card">
            <img src="/images/openai-3.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">About OpenAI </h5>
                <p class="card-text">OpenAI is an artificial intelligence company that has a goal to create safe AGI that benefits all of humanity. The main products that have made OpenAI famous and valued over billions of dollars is their large language models based on the generative pretrained transformers architecture hence the name GPT, for GPT3.5 and GPT4. A very important paper that help lead chat GPT into what it is today is “Attention is all you need” published by Vaswani et all. In 2017 which introduced the Transformer architecture. Another cool product from OpenAI is DALL-E which is an AI system to create images from text prompts. OpenAI has Api’s available for developers to utilize and incorporate these tools for their own applications.<br>
A brief history of the company. OpenAI was founded in December 2015 as a non-profit by Ilya Sutskever, Greg Brockman, Andrej Karpathy, Sam Altman, Elon Musk, and some others as well. Microsoft eventually invested a billion dollars in 2019 and then another $10 million in 2023. In 2019 they transitioned from non-profit to capped for profit. This allows them to get more investments from venture capitalists and offer stakes in the company to employees. 
Sam Alman was the CEO of OpenAI from 2019, but as of November 17th, 2023, was removed from this position and fired from OpenAI. Greg Brockman was removed from his position of the Board of Directors and as a result he put in his resignation and quit OpenAI. CTO Mira Murati has become interim CEO while the company restructures and finds a permanent CEO. The future of the company is unclear now, hopefully the pursuit of safe artificial general intelligence maintains its position as the goal of OpenAI. 
</p>
   <h5 class="card-title"> OpenAI  API</h5>
                <p class="card-text">
OpenAI API
	One of the great products that OpenAI provides for users is the use of their API for developers. A developer must generate a unique API key and add it to their code in Python or NodeJS. Here are some cool things you can built using the GPT-3.5 and GPT-4 API. 
  <ul>
    
•	Assistant 
•	Text generation 
•	Embeddings 
•	Image generation
•	Text to speech
•	Prompt engineering
•	Speech to text
•	Fine-tuning
•	Vision
</ul>
</p>             
            </div>
        </div>
    </div>